<h2>Произошла ошибка при выполнии операции</h2>

Проверьте все добавляемые на сайт данные:

<label>При добавлении книг из файла, заранее проверьте, есть ли добавляемые жанры в базе сайта</label>

<label>При добавлении новых данных на сайт, проверьте, отсутствует ли он в базе</label>
<br/>
<a asp-action="Index" asp-controller="Home">Вернуться на главную страницу</a>